*{
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: black;
}

nav ul li{
    display: inline;
    padding: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

iframe {
    width: 100%;
    height: 100vh;
}